<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .message-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    font-size: 22px;
    line-height: 21px;
  }

  .message-content img {
    width: 300px;
  }

  .info {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
</style>

<div class="container">
  <div class="message-content">


    <div class="info">
      <p>Olá, {{name}}</p>
      {{!-- Habilitar a imagem apenas pra usar na recreativa! --}}
      {{!-- <img
        src="https://scontent.fpoo3-1.fna.fbcdn.net/v/t1.0-9/109783583_3093135250781278_956241959676146753_o.png?_nc_cat=103&ccb=2&_nc_sid=9267fe&_nc_eui2=AeHl1Zlinky0TiRPcgncAOK3qcY1KMoLeUSpxjUoygt5RBC2tvSlVp3DGiNd165TUEbVtIzs1BqnTQ3oqYW3iyY5&_nc_ohc=rBsnrGMKW60AX_Tt1qf&_nc_ht=scontent.fpoo3-1.fna&oh=95cc9ebf23b624fc683f4fdcf42752db&oe=601C0B42"
        alt="Minha Figura"> --}}

    </div>

  </div>
  <p>Parece que uma troca de senha para sua conta foi solicitada.</p>
  <p>Se foi você então clique no link abaixo para escolher uma nova senha:</p>
  <p>
    <a href="{{link}}">Resetar minha senha</a>
  </p>
  <p>Se não foi você, por favor descarte esse email!</p>
  <p>Obrigado!<br />
    <strong>Equipe A Recreativa</strong>
  </p>
</div>
</div>
